
h1{
    margin-top: 20%;
    
}

.neon {
    -moz-box-shadow: 0px 0px 14px #12c2c4;
    -webkit-box-shadow: 0px 0px 14px #12c2c4;
    box-shadow: 0px 0px 14px #12c2c4;
    margin: 15px;
    background-color: lightblue;
    text-align: center;
}