<!-- <a class="list-group">
    <h4 class="list-group-heading">{{myRequirement.title}}</h4>
    <p class="list-group-item-text">{{myRequirement.description}}</p>
</a> -->

<div class="block" (click)="onSelected()">

    <h1 class="list-group-heading pink">
      {{myRequirement.title}}

    
    </h1>
  
    <h3 class="list-group-item-text green">
      {{myRequirement.description}}
    </h3>
    
  <button class="btn btn-danger" (click)="deleteRequirement()" [routerLink]="['/events']">DELETE</button>
  <button class="btn btn-info" [routerLink]="['/edit-requirement', index]">Edit</button>
  </div>
  